@media screen and (max-width:1100px) {
  .name{
    text-indent: 4%; 

  }
}

@media screen and (max-width:1000px) {
  .name{
    text-indent: 4%; 
  }
  #contact .mapArea{
    display: inline-block;
    margin-left: 3%;
  }
}

@media screen and (max-width:860px) {
  .portfolio-thumb {
    width: 90%;
  }

  .name{
    font-size: 16px;
    
  }
}


@media screen and (max-width:700px) {
  #code, #console {
    width: 100%;
    overflow: hidden;
  }

  #portfolio {
    overflow: hidden;
  }

  #resume .inner {
    width: 85%;
  }

  #resume .right {
    display: none;
  }

  

}

@media (max-width: 480px) {
  
  .toc-holder {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  #header {
    line-height: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  #header .name {
    width:40%;
    float: left;
    font-size: 12px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
    float: left;
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    padding-right: 10px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
/* STYLES GO HERE */
  .toc-holder {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  #header {
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  #header .name {
    width:40%;
    float: left;
    font-size: 10px;
    padding-top: 2px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
/*    float: left;*/
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 8px;
    line-height: 10px;
    padding-right: 5px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }

  #portfolio {
    padding-bottom: 0px;
  }

  #portfolio img {
    padding-top: 40px;
  }

  .tagline {
    padding-bottom : 20px; 
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .toc-holder {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    -webkit-padding-start: 5px;
    -webkit-margin-before: 0;
    float: right;
  }

  .tagline {
    padding-bottom : 20px; 
  }

  #header {
    line-height: 10px;
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  #header .name {
    width:40%;
    padding-top: 2px;
    float: left;
    font-size: 10px;
    display: inline-block;
  }

  #header .nav {
    display: inline-block;
/*    float: left;*/
    width: 55%;
        padding-right: 10px;
  }

  li.mobile-header {
    display: inline-block;
    font-size: 8px;
    line-height: 10px;
    padding-right: 5px;
  }

  li.mobile-header a {
    color: #b1b1b1;
  }

  #about .inner {
    padding: 0px 10px 0px 10px;
  }
  #code, #console {
    height:auto;
  }
  #console {
    padding: 20px;
  }

  #code {
    margin-bottom: 20px;
  }
}